<div class="container box">
  <div style="text-align: center;">
    <h1>Login</h1>
  </div>
  <form action="" style="margin:50px 0 0 100px">
    <div class="row">
      <mat-form-field>
        <input type="email" matInput placeholder="Username">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
    </div>
  </form>
  <div style="margin-left:100px">
    <a routerLink="/home"><button mat-raised-button color="primary" (click)="service.showNav=true">Login</button></a>
  </div>
</div>
