<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
      <mat-list>
        <mat-list-item>
          <mat-icon>face</mat-icon>
          <span>Profile</span>
        </mat-list-item>
        <mat-list-item></mat-list-item>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button mat-icon-button (click)="sidenav.toggle()" *ngIf='serv.showNav'>
            <mat-icon>menu</mat-icon>
          </button>
          <span class="navbar-brand">Shopping Site</span>
        </div>
        <span style="margin-left:auto" *ngIf='serv.showNav'>
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </span>
        <ul class="nav navbar-nav navbar-right" *ngIf='serv.showNav'>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
            <a routerLink="/login">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
              </button>
            </a>
          </mat-menu>
        </ul>
      </div>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
