  <div class="container">
    <form action="">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-radio-group>
          <mat-radio-button color="primary" value="1">Option 1</mat-radio-button>
          <mat-radio-button color="primary" value="2">Option 2</mat-radio-button>
        </mat-radio-group>
      </div>
      <input type="file" (change)="getEvt($event)">
    </form>
    <div class="container">
      <div class="row">
        <a routerLink="/home"><button mat-raised-button color="primary">Go To Comp0</button></a>
      </div>
    </div>
  </div>
